#iconMenuBar {
	animation: mymove 5s ease 2s infinite alternate both;

} 

@keyframes mymove {
	from {transform: rotate(-10deg);
        }
	to {transform: rotate(10deg);
        }
}

.fade-in {
	animation: fadeIn 2s;
        opacity: 1;
}

@keyframes fadeIn {
        from { opacity: 0;}
        to {opacity: 1;}
}